.page-content{
	.page-child &,
	.page-template-default &{
	}
	@include e(entry) {
		.page-id-4 &{
			text-align: center;
		}
		@include m(children) {
		}
	}
}

.entry{
	@include e(header) {
		@include m(title) {
			font-weight: 100;
			color: $default;
			line-height: 2.6rem;
			em{
				font-style: normal;
				color: $default;
				font-family: $font-family-regular;
			}
			.page-id-4 &{
				color: inherit;
			}
		}
		.post-edit-link{
			font-size: $font-size-sm;
			color: $gray;
			text-decoration: underline;
			$font-family: $font-family-regular;
			display: block;
			&:hover{
				text-decoration: none;
			}
		}
	}
	@include e(content) {
		text-align: justify;
		.page-id-4 &{
			text-align: center;
		}
		@include m(sub-title) {
			font-size: $font-size-lg;
			font-family: $font-family-regular;
		}
		strong{
			font-family: $font-family-regular;
		}
		em{
			font-style: normal;
			color: $default;
			font-family: $font-family-regular;
		}
		@include m(btn) {
			margin-top: 2rem;
			margin-bottom: 2rem; 
			@extend %btn;
			@extend %btn-primary;
		}
	}
	@include e(emails) {
		@include m(email) {
			color: $default;
			font-family: $font-family-regular;
			@extend %no-td;
			font-size: $font-size-sm;
			&:hover{
				color: inherit;
			}
		}
	}
}

#child-69{

}

.quote{
	text-align: right;
	@include e(content) {
		line-height: 1.2rem;
		margin-bottom: 0.2rem;
		font-family: $font-family-regular;
		p{
			margin-bottom: 0;
		}
	}
	@include e(author) {
		color: $default;
		font-family: $font-family-regular;
		font-weight: bold;
		font-size: $font-size-sm;
	}
}