@font-face {
    font-family: 'clear_sansregular';
    src: url('assets/css/fonts/clearsans/ClearSans-Regular-webfont.eot');
    src: url('assets/css/fonts/clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/clearsans/ClearSans-Regular-webfont.woff') format('woff'),
         url('assets/css/fonts/clearsans/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('assets/css/fonts/clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('assets/css/fonts/clearsans/ClearSans-Light-webfont.eot');
    src: url('assets/css/fonts/clearsans/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/clearsans/ClearSans-Light-webfont.woff') format('woff'),
         url('assets/css/fonts/clearsans/ClearSans-Light-webfont.ttf') format('truetype'),
         url('assets/css/fonts/clearsans/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('assets/css/fonts/clearsans/ClearSans-Thin-webfont.eot');
    src: url('assets/css/fonts/clearsans/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/clearsans/ClearSans-Thin-webfont.woff') format('woff'),
         url('assets/css/fonts/clearsans/ClearSans-Thin-webfont.ttf') format('truetype'),
         url('assets/css/fonts/clearsans/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

