/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------- */
$font-family-light: 			"clear_sans_lightregular", sans-serif !default;
$font-family-thin: 				"clear_sans_thinregular", sans-serif !default;
$font-family-base: 				$font-family-thin !default;
$font-family-regular:			"clear_sansregular", sans-serif !default;

$font-family-serif: 			$font-family-base;
$font-family-sans-serif: 		Georgia, sans-serif !default; //navigation
$font-family-btn:				'Roboto Slab', serif;

$headings-font-family:       	$font-family-thin !default;
$headings-font-weight:       	400 !default;

$font-size-root:             	20px !default;
/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$gray-lighter: 				#b0bec5; //Nav base
$gray-light: 				#f6f9fa; //subnav bg
$gray: 						#9b9b9b; //small heading
$gray-dark: 				#4c4f53; //Text
$gray-border: 				#dfdfdf; //borders

$default:					#B4975A;
$default-btn:				#EB2227;

/* ----------------------------------------------------------------------------
 * Other
 * ------------------------------------------------------------------------- */

$btn-font-weight:                500 !default;
$btn-padding-x:                  2rem !default;
$btn-padding-y:                  .75rem !default;
$btn-padding-x-lg:               3rem !default;
$btn-padding-y-lg:               1.2rem !default;

$border-radius:          	0rem !default;
$border-radius-lg:       	0rem !default;
$border-radius-sm:       	0rem !default;