.navbar{
	.navbar-logo{
		display: inline-block;
		padding: 25px 0;
		img{
			max-height: 30px;
		}
	}
	@include m(main) {
		padding: 1rem 0 1rem;
		border-bottom: $border-width solid #dfdfdf;
		border-radius: 0;
		background: #fff;
	}
	@include e(main-nav) {
		padding: 1.55rem 0;
		float: right;
		.nav-items{
			padding: 0;
			list-style: none;
			margin: 0;
			float: right;
			@include e(item) {
				display: inline-block;
				border-bottom: ($border-width * 3) solid transparent;
				text-transform: uppercase;
				margin: 0 1rem;
				font-weight: 500;
				letter-spacing: 0.1em;
				transition: 0.3s;
				a {
					display: inline-block;
					padding: 0.5rem 0;
					transition: 0.3s;
					&:hover,
					&:active,
					&:focus{
						text-decoration: none;
						outline: none;
					}
				}
				&:hover,
				&:active,
				&:focus,
				&.current-menu-item,
				&.current-page-ancestor{
					outline: none;
					a{
						color: $gray-dark;
					}
				}
			}
		}
	}
}