.navbar-toggler{
	font-family: $font-family-regular;
	font-size: $font-size-sm;
	padding: 0 10px;
	vertical-align: text-top;
	&:active,
	&:focus,
	&:hover{
		color: $default;
		outline: none;
	}
}
.navbar{
	.navbar-logo{
		display: inline-block;
		padding: 15px 0 0 0;
		img{
			max-height: 60px;
		}
		.page-template-template-home &{
			display: none;
		}
	}
	@include m(main) {
		padding: 0;
		border-radius: 0;
		text-align: center;
	}
	@include e(main-nav) {
		padding: 0;
		.nav-items{
			padding: 0;
			list-style: none;
			margin: 0;	
			text-align: center;
			padding-top: 1rem;
			padding-bottom: 1rem;
			.page-template-template-home &{
				@extend .in;
			}
			@include media-breakpoint-up(sm) {
				padding: 0;
			}
			&:after{
				content: "";
				display: block;
				height: $border-width;
				background: $gray-border;
				width: 10rem;
				position: absolute;
				left: 50%;
				margin-left: -5rem;
				.page-template-template-home &{
					display: none;
				}
				@include media-breakpoint-up(sm) {
					width: 30rem;
					margin-left: -15rem;
				}
			}
			&:before{
				content: "";
				display: block;
				height: $border-width;
				background: $gray-border;
				width: 10rem;
				position: absolute;
				left: 50%;
				margin-left: -5rem;
				@include media-breakpoint-up(sm) {
					width: 30rem;
					margin-left: -15rem;
				}
			}
			@include e(item) {
				display: inline-block;
				text-transform: lowercase;
				transition: 0.3s;
				font-size: $font-size-sm;
				font-family: $font-family-regular;
				margin-left: -5px;
				display: block;
				margin-top: 1rem;
				margin-bottom: 1rem;
				@include media-breakpoint-up(lg) {
					display: inline-block;
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
				}
				&:before{
					@include media-breakpoint-up(lg) {
						content: "|";
					}
				}
				&:first-child{
					&:before{
						display: none;
					}
				}
				a {
					display: inline-block;
					padding: 0.2rem 15px;
					color: inherit;
					transition: 0.3s;
					&:hover,
					&:active,
					&:focus{
						text-decoration: none;
						outline: none;
						background-color: lighten($default , 35%);
					}
				}
				&.current-menu-item a,
				&.current-page-ancestor a{
					text-decoration: none;
					outline: none;
					background-color: lighten($default , 35%);
				}
			}
		}
	}
}