.site-footer{
	border-top: $border-width solid $gray-border;
	@include e(legal) {
		text-align: center;
		padding: 1rem;
		@include m(text) {
			margin-bottom: 0;
			font-size: $font-size-sm;
		}
	}
}

