.site-footer{
	border-top: $border-width solid $gray-border;
	@include e(legal) {
		float: right;
		padding: 1rem;
		@include m(text) {
			text-align: left;
			margin-bottom: 0;
			display: inline-block;
			font-size: $font-size-sm;
		}
	}
}

