.page-content{
	.page-child &,
	.page-template-default &{
	}
	@include e(entry) {
		position: relative;
		margin-top: 6rem;
		margin-bottom: 4rem;
		@include m(noquote) {
			margin-top: 0;
		}
		@include m(nochild) {
			@extend %content-m-60-100;
		}
		@include m(children) {
		}
		@include m(child) {
			@extend %content-m-60-100;
			&#child-69{
				@extend %content-100;
			}
			position: relative;
			margin-bottom: 10rem;
			&:after{
				content: "";
				display: block;
				height: $border-width;
				background: $gray-border;
				width: 30rem;
				position: absolute;
				left: 50%;
				margin-left: -15rem;
				bottom: -3rem;
			}
			&:last-child{
				margin-bottom: 4rem;
				&:after{
					display: none;
				}
			}
		}
	}
}

#child-69{
	background: url(assets/images/bald-head.png) no-repeat left 2rem;
	padding-bottom: 4rem;
	background-size: contain;
	margin-bottom: -4rem;
	.wrapper{
		position: relative;
		@extend %content-m-60-100;
	}
}

.entry{
	@include e(header) {
	margin-bottom: 2rem;
		@include m(title) {
			margin-top: 2rem;
			margin-bottom: 2rem;
			font-weight: 100;
		}
	}
	@include e(content) {
	}
	@include e(emails) {
		@include make-row();
		margin-top: 2rem;
		@include m(col) {
			@include make-col();
			@include make-col-span(4);
		}
	}
}


.quote{
	max-width: 40%;
	position: absolute;
	top: -4rem;
	right: 0;
	@include e(content) {
	}
	@include e(author) {
	}
}